<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
    <nav class="green lighten-1 navi">
        <div class="nav-wrapper">
        <% if(user){ %>
            <div class="card-action right-align">
                <a href="/logout" class="waves-effect waves-light btn green darken-3 log">Logout</a>
            </div>
        <% }else{  %>
            <div class="card-action right-align">
                <a href="/auth/google" class="waves-effect waves-light btn green darken-3 log">Login</a>
            </div>
        <% } %>
        </div>
    </nav>
