<%- include('../partials/header') %>

<head></head>

<div>Calendar Placeholder</div>

<div class="calendar-area">
    <div>April</div>
    <div>
        <div>Sun</div>
        <div>Mon</div>
        <div>Tues</div>
        <div>Wed</div>
        <div>Thurs</div>
        <div>Fri</div>
        <div>Sat</div>
    </div>
    <div id='dates'>

    </div>
    <a href="#modal1" class="btn orange modal-trigger">test</a>
    <div class="modal" id="modal1">
        <div class="modal-content">testting</div>
    </div>

<script src="/js/script.js"></script>
</div>




<%- include('../partials/footer') %>