
main{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.main-area{
    margin-top: 1.5rem;
}

.welcome{
    color: white;
    display: grid;
    margin: 10rem auto 0 auto;
    width: 30rem;
    grid-template-rows: 3rem 3rem 4rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

#welcome{
    font-size: 2rem;
}

#sub-welcome{
    font-size: 1.3rem;
}

#google{
    width: 1.5rem;
    height: 1.5rem;
}

.google-login{
    height: 4rem !important;
    width: 11rem;
    margin: 0 auto;
    border-radius: 4px;
}
.google-login:hover{
    border-radius: 40px;
}

#main-login-text{
    font-size: 1.35rem;
    color: white;
}

.lower{
    text-transform: lowercase !important;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    color: white;
    font-size: 0.8rem;
    margin-top: 0.12rem;
}

.space{
    width: 0.25rem;
}

.log{
    margin-right: 1.5rem !important;
}

.login-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.modal-display{
    display: grid;
    grid-template-rows: 4.5rem minmax(4rem, auto) 3rem;
}

.modal-date-display{
    text-align: center;
}

.modal-date-weekday{
    font-weight: bold;
    font-size: 1.5rem;
}

.modal-date-date{
    font-size: 1.15rem;
}

.modal-create-new{
    margin: 1rem auto;
}

.new-task-form{
    width: 26.5rem;
    height: 13rem;
}

.new-task-description{
    resize: none;
    width: 23.25rem;
    height: 6rem;
}

.add-task-button{
    margin-left: 8rem;
    margin-top: 0.85rem;
    width: 7rem;
    height: 2.25rem;
    border-radius: 4px;
    font-size: 1.1rem;
}

.add-task-button:hover{
    border-bottom: solid rgb(33, 33, 33);
    border-right: solid rgb(33, 33, 33);
    border-top: solid rgb(88, 88, 88);
    border-left: solid rgb(88, 88, 88);
    cursor: pointer;
}

.single-task{
    min-height: 2rem;
    max-width: 30rem;
    word-wrap: break-word;
    margin-bottom: 0.2rem;
    font-size: 1.15rem;
}

.description-modal-trigger{
    width: 100%;
    height: 100%;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
}

.create-button{
    height: 3rem;
    border-radius: 4px;
    font-size: 1.1rem;
    width: 10.5rem;
}

.create-button:hover{
    /* background-color: rgba(0, 128, 0, 0.37); */
    /* background-color:rgba(0, 255, 0, 0.404); */
    border-bottom: solid rgb(33, 33, 33);
    border-right: solid rgb(33, 33, 33);
    border-top: solid rgb(88, 88, 88);
    border-left: solid rgb(88, 88, 88);
    cursor: pointer;
}

.update-task, .remove, .move{
    border-radius: 4px;
}




textarea{

}
.edit{
    display: grid;
    grid-template-rows: 5.25rem 2.5rem 3rem;
    grid-template-columns: 23.5rem;
}

.delete{
    display: flex;
    justify-content: flex-end;
}

.remove{
    width: 7rem;
    font-size: 1.1rem;
    height: 2.25rem;
    background-color: rgba(255, 17, 0, 0.651);
}

.remove:hover{
    border-bottom: solid rgb(33, 33, 33);
    border-right: solid rgb(33, 33, 33);
    border-top: solid rgb(88, 88, 88);
    border-left: solid rgb(88, 88, 88);
    background-color: rgba(255, 17, 0, 0.829);
    cursor: pointer;
}

.date-update{
    display: grid;
    grid-template-columns: 15.5rem 1rem 6rem;
    grid-template-rows: 2rem;
}

.move{
    grid-column-start: 3;
    margin-top: 0.7rem;
    height: 2.25rem;
    font-size: 1.1rem;
    width: 7rem;
}

.move:hover{
    border-bottom: solid rgb(33, 33, 33);
    border-right: solid rgb(33, 33, 33);
    border-top: solid rgb(88, 88, 88);
    border-left: solid rgb(88, 88, 88);
    cursor: pointer;
}

.update{
    display: grid;
    grid-template-columns: 16.5rem 6rem;
    grid-template-rows: 2.25rem 2.25rem;
}

.text-area{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
    resize: none;
    height: 7.5rem;
    width: 15.5rem;
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
}

.check-box{
    grid-column-start: 2;
    grid-row-start: 1;
}

.checkbox-description{
    font-size: 1.15rem !important;
}

span{
    color: black;
}

.task{
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.update-task{
    grid-column-start: 2;
    grid-row-start: 2;
    font-size: 1.1rem;
    width: 7rem;
    height: 2.25rem;
}

.update-task:hover{
    border-bottom: solid rgb(33, 33, 33);
    border-right: solid rgb(33, 33, 33);
    border-top: solid rgb(88, 88, 88);
    border-left: solid rgb(88, 88, 88);
    cursor: pointer;
}

.task-list{
    min-height: 25rem;
    max-height: 38rem !important;
    width: 32rem;
    background: -webkit-linear-gradient(lightgreen,white);
}

.task-details{
    width: 26.5rem;
    height: 14rem;
}


.navi{
    height: 4rem !important;
}

#current-month{
    color: white;
    font-size: 1.5rem;
}

.complete{
    border-radius: 5px;
    border: solid rgb(49, 49, 49);
}

.done{
    background-color: rgba(128, 128, 128, 0.562);
    height: 100%;
    min-height: 2.25rem;
    width: 100%;
}

.done:hover{
    background-color: rgba(128, 128, 128, 0.719);
}

.incomplete{
    border-radius: 5px;
    border: solid green;
}


.not-done{
    background-color: rgba(0, 128, 0, 0.37);
    height: 100%;
    min-height: 2.25rem;
    width: 100%;
}

.not-done:hover{
    background-color: rgba(0, 128, 0, 0.527);
}

.desc{
    color: black;
    opacity: 1;
}

#dates{
    /* background-color:seagreen; */
    display: grid;
    grid-template-rows: 4rem 4rem 4rem 4rem 4rem 4rem;
    grid-template-columns: 4rem 4rem 4rem 4rem 4rem 4rem 4rem;
    /* border-style: solid;
    border-width: 1px; */
    width: 32rem;
    height: 28rem;
    grid-gap: 0.3rem;
    padding: auto auto auto auto;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}

#day-labels{
    display: grid;
    grid-template-columns: 4rem 4rem 4rem 4rem 4rem 4rem 4rem;
    grid-template-rows: 2rem;
    width: 27rem;
    height: 3rem;
    grid-gap: 0.3rem;
    /* padding: auto auto auto auto; */
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.day{
    margin-top: 0.5rem;
}

.arrow-btn{
    width: 10px;
    align-content: center;
    margin: 0 auto;
}

.date{
    text-decoration: none;
    height: 100%;
    width: 100%;
    /* border-width: 1px;
    border-style: solid; */
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    color: black;
    border-radius: 2px;
}

.date:hover{
    border-radius: 3px;
    border-bottom: solid rgb(33, 33, 33);
    border-right: solid rgb(33, 33, 33);
    border-top: solid rgb(88, 88, 88);
    border-left: solid rgb(88, 88, 88);
}

.edge{
    color: gray;
}

.day{
    font-size: 1.2rem;
    margin-top: 0.7rem;
}

#calendar-area{
    margin: 1rem auto;
    height: 32rem;
    width: 34rem;
    background-color: seagreen;
    border-radius: 3px;
}

#calendar-header{
    display: grid;
    grid-template-columns: 3rem 20rem 3rem;
    grid-template-rows: 2rem;
    width: 25rem;
    margin: 1rem auto 0.75rem auto;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.today{
    background-color:chartreuse;
}

.today-fade{
    background-color:rgba(128, 255, 0, 0.61);
}


.arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    height: 1rem;
    width: 1rem;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.hidden{
    display: none;
}