
main{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.welcome{
    color: white;
    display: grid;
    margin: 10rem auto 0 auto;
    width: 25rem;
    grid-template-rows: 2.3rem 2.8rem 3rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

#welcome{
    font-size: 1.5rem;
}

#google{
    width: 1.15rem;
    height: 1.15rem;
}

.google-login{
    height: 3rem !important;
    width: 9rem;
    margin: 0 auto;
}

.lower{
    text-transform: lowercase !important;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    color: white;
    font-size: 0.6rem;
    margin-top: 0.25rem;
}

.space{
    width: 0.25rem;
}

.log{
    margin-right: 1.5rem !important;
    margin-bottom: 0.9rem !important;
}

.login-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.modal-display{
    display: grid;
    grid-template-rows: 4.5rem minmax(3rem, auto) 3rem;
}

.modal-date-display{
    text-align: center;
}

.modal-date-weekday{
    font-weight: bold;
    font-size: 1.4rem;
}

.modal-create-new{
    margin: 1rem auto;
}

/* .new-task-form{
    width: 18rem;
} */

.add-task-button{
    margin-left: 3.75rem;
    margin-top: 0.5rem;
    width: 6rem;
    height: 2rem;
    border-radius: 4px;
}

.single-task{
    min-height: 2rem;
    max-width: 28.7rem;
    word-wrap: break-word;
    margin-bottom: 0.2rem;
}

.description-modal-trigger{
    width: 100%;
    height: 100%;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
}

.create-button{
    height: 2.5rem;
    border-radius: 4px;
}

.update-task, .remove, .move{
    border-radius: 4px;
}

.remove{
    background-color: rgba(255, 17, 0, 0.651);
}

textarea{
    resize: none;
    height: 4rem;
    width: 14rem;
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
}
.edit{
    display: grid;
    grid-template-rows: 4.7rem 2rem 3rem;
    grid-template-columns: 21rem;
}

.delete{
    display: flex;
    justify-content: flex-end;
}

.remove{
    width: 6rem;
    font-size: 0.9rem;
    height: 2rem;
}

.date-update{
    display: grid;
    grid-template-columns: 14rem 1rem 6rem;
    grid-template-rows: 2rem;
}

.move{
    grid-column-start: 3;
    margin-top: 0.7rem;
    height: 2rem;
}

.update{
    display: grid;
    grid-template-columns: 15rem 6rem;
    grid-template-rows: 2rem 2rem;
}

.text-area{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
    height: 6.7rem;
}

.check-box{
    grid-column-start: 2;
    grid-row-start: 1;
}

span{
    color: black;
}

.task{
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.update-task{
    grid-column-start: 2;
    grid-row-start: 2;
    font-size: 0.9rem;
}

.task-list{
    min-height: 20rem;
    max-height: 31rem !important;
    width: 32rem;
    background: -webkit-linear-gradient(lightgreen,white);
}

.task-details{
    width: 24.5rem;
    height: 13rem;
}


.navi{
    height: 4rem !important;
}

#current-month{
    color: white;
}

.complete{
    border-radius: 5px;
    border: solid rgb(49, 49, 49);
}

.done{
    background-color: rgba(128, 128, 128, 0.562);
    height: 100%;
    min-height: 2rem;
    width: 100%;
}

.incomplete{
    border-radius: 5px;
    border: solid green;
}

.not-done{
    background-color: rgba(0, 128, 0, 0.37);
    height: 100%;
    min-height: 2rem;
    width: 100%;
}

.desc{
    color: black;
    opacity: 1;
}

#dates{
    /* background-color:seagreen; */
    display: grid;
    grid-template-rows: 3.3rem 3.3rem 3.3rem 3.3rem 3.3rem 3.3rem;
    grid-template-columns: 3.3rem 3.3rem 3.3rem 3.3rem 3.3rem 3.3rem 3.3rem;
    /* border-style: solid;
    border-width: 1px; */
    width: 27rem;
    height: 23rem;
    grid-gap: 0.3rem;
    padding: auto auto auto auto;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}

#day-labels{
    display: grid;
    grid-template-columns: 3.3rem 3.3rem 3.3rem 3.3rem 3.3rem 3.3rem 3.3rem;
    grid-template-rows: 2rem;
    width: 27rem;
    height: 3rem;
    grid-gap: 0.3rem;
    /* padding: auto auto auto auto; */
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.day{
    margin-top: 0.5rem;
}

.arrow-btn{
    width: 10px;
    align-content: center;
    margin: 0 auto;
}

.date{
    text-decoration: none;
    height: 100%;
    width: 100%;
    /* border-width: 1px;
    border-style: solid; */
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    color: black;
    border-radius: 2px;
}

.date:hover{
    border-radius: 3px;
    border-bottom: solid rgb(33, 33, 33);
    border-right: solid rgb(33, 33, 33);
    border-top: solid rgb(88, 88, 88);
    border-left: solid rgb(88, 88, 88);
}

.edge{
    color: gray;
}

#calendar-area{
    margin: 0 auto;
    height: 26rem;
    width: 27rem;
    background-color: seagreen;
    border-radius: 3px;
}

#calendar-header{
    display: grid;
    grid-template-columns: 3rem 15rem 3rem;
    grid-template-rows: 2rem;
    width: 25rem;
    margin: 1rem auto 0.75rem auto;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.today{
    background-color:chartreuse;
}

.today-fade{
    background-color:rgba(128, 255, 0, 0.61);
}


.arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    height: 1rem;
    width: 1rem;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.hidden{
    display: none;
}